
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

:root {
  --links-font-size: 1.3em;
  --headers-first-font-size: 2.4em;
}

a {
  font-size: var(--links-font-size);
}

h1 {
  font-size: var(--headers-first-font-size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: hsla(272, 68%, 80%);
  
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 25px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 50px;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.header__container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.header__navigation {
  height: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

.menu__item {
  height: 100%;
}

.menu_item-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Montserrat Medium';
  color: #000;
  letter-spacing: 0.01em;
}

.burger__btn {
  display: none;
  height: 20px;
  width: 25px;
}

.burger__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.container {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.main_container {
  padding-top: 0;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main_image {
  height: 550px;
  width: 350px;
  align-self: center;
}

.main_image img {
  width: 100%;
  height: 100%;
  object-fit:
}

.main_info {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.main_text {
  line-height: 1.5em;
  font-size: 1.5em;
  letter-spacing: 0.01em;
  font-family: 'Montserrat';
}

.main_text h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1.5em;
  font-family: 'Montserrat Medium';
  text-align: inherit;
}

.main_text span {

}

.main_links {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.main_link {
  text-decoration: none;
  font-family: 'Montserrat Medium';
  text-transform: uppercase;
  color: #000;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px 50px;
  position: relative;
  overflow: hidden;
}

.main_link::before {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  background: hsla(360, 100%, 100%, 0.5);
  transform: skewY(45deg);
  left: -100%;
  transition: .6s;
}

.main_link:hover::before {
  left: 100%;
}

.why_target_container {
  min-height: 75vh;
  height: 75vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  text-align: center;
  grid-gap: 100px;
}

.why_target_container h1 {
  font-family: 'Montserrat Medium';
  letter-spacing: 0.2em;

}

.why_target_items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: start;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.why_target_item {
  display: flex;
  height: 100%;
  flex-direction: column;
  grid-gap: 20px;
  font-family: 'Montserrat Medium';
}

.why_target_icon {
  font-size: 2em;
  color: #fff;
}

.why_target_title {

}

.why_target_title::first-letter {
  text-transform: uppercase;
}

.why_target_explain {
  width: 90%;

  line-height: 1.5em;
  text-align: justify;
  color: #666;
}

.about_me_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.about_me_media {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.about_me_social {

}

.about_me_media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s ease 0s;
}

.social_link {
  display: block;
  height: fit-content;
  transition: .3s ease 0s;
  position: relative;
}

.social_link:first-child {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-facebook{
  color: #4267B2;
}

.fa-telegram {
  color: #229ED9;
  position: relative;
}

.fa-facebook::after,
.fa-telegram::after{
  content: '';
  width: 80%;
  height: 78%;
  position: absolute;
  top: 8%;
  left: 10%;
  background-color: #fff;
  border-radius: 100%;
  z-index: -1;
}

.about_me {
  width: 40%;
  font-family: 'Montserrat Medium';
}

.about_me h1 {
  font-size: 2.3em;
}

.about_me_bio {
  width: 70%;
  font-size: 1.2em;
}

.services_container {
  height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  text-align: center;
  grid-gap: 100px;
}

.services_container h1 {
  font-family: 'Montserrat Medium';
  letter-spacing: 0.2em;

}

.services_container h1::first-letter {
  text-transform: uppercase;
}

.services_items {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.services_item {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}

.item_container {
  width: 80%;
  height: 100%;
  display: grid;
}

.details_container {
  display: grid;
}

.service_title h3 {
  font-family: 'Montserrat Medium';
  font-size: 1.4em;
  text-align: center;
}

.services_list {

}

.services_list h4 {
 text-align: start;
 font-family: 'Montserrat Medium';
 margin: 0 0 10px 0;
}

.services_list ul {
  list-style: none;
  text-align: start;
}

.services_list li {
  line-height: 2em;
  font-family: 'Montserrat Medium';
  margin: 0 0 10px 0;
}

.services_list li:last-child {
    margin: 0;
}

.services_list li::first-letter {
  text-transform: uppercase;
}

.price_and_buy {
  align-self: flex-end;
  margin-bottom: 20px;
}

.price_and_buy h4 {
  font-family: 'Montserrat Bold';
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.buy_btn {
  display: block;
  font-family: 'Montserrat Medium';
  width: 100%;
  margin: 0 auto;
  padding: 15px 40px;
  background-color: rgba(123, 56, 123, 1);
  border-radius: 10px;
  text-decoration: none;
  color: #ccc8c8;
  user-select: none;
}

.buy_btn.look_btn {
  background-color: rgba(106, 29, 107, 1);
}

.consultation_container {
  height: 55vh;
  text-align: center;
  font-family: 'Montserrat Medium';
  display: grid;
  align-items: center;
}

.consultation_container h1 {
  letter-spacing: 0.2em;
}

.consultation_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.consultation_text {
  width: 60%;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  text-align: start;
}

.consultation_form {

  line-height: 1.5em;
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.consultation_form::before {
  content: '';
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: -100%;
  background-color: hsla(360, 100%, 100%, 0.5);
  transform: skewY(45deg);
  transition: .9s ease 0s;
}

.cases_container {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  text-align: center;
  grid-gap: 100px;
}

.cases_container h1 {
  font-family: 'Montserrat Medium';
  letter-spacing: 0.2em;

}

.cases_items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: end;
}

.cases_item {
  display: grid;
  grid-template-rows: 70% auto;
  grid-gap: 30px;
}

.cases_example {
  display: flex;
  justify-content: center;
}

.example_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.example_image {
  transform-origin: left bottom;
  transition: 1s;
}

#first-case {
  transform: rotate(10deg) translate(50%, -10%)
}

#second-case {
  transform: rotate(-15deg) translate(-50%, -10%);
}

#third-case {
  transform: rotate(10deg) translate(50%, -10%)
}

#fourth-case {
  transform: rotate(-15deg) translate(-50%, -10%);
}

.cases_details_btn {
  display: inline-block;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid black;
  font-family: 'Montserrat Medium';
  font-size: 1.3em;
  color: #000;
  position: relative;
  overflow: hidden;
}

.cases_details_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 20%;
  height: 150%;
  background-color: hsla(360, 100%, 100%, 0.5);
  transform: skew(45deg);
  transition: .6s ease 0s;
}

.cases_details_btn:hover::before {
  left: 120%;
}


















































































































































































































/* hovers */

@media (hover: hover) and (pointer: fine) {
  .main_link:hover::before {
    left: 100%;
  }

  .social_link:hover {
    transform: scale(1.2);
  }

  .about_me_media::before,
  .about_me_media::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: hsla(0, 10%, 10%, 0);
    z-index: 4;
  }

  .about_me_media::before {
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.6s ease 0s;
  }

  .about_me_media::after {
    width: 80%;
    height: 100%;
    transform: skew(45deg);
    background-color: hsla(360, 100%, 100%, 0.5);
    transition: 0.7s ease 0s;
    left: -200%;
  }

  .about_me_media:hover::before {
    background-color: hsla(0, 10%, 10%, 0.5);
    transition: 0.7s ease 0.2s;
    top: 0;
    left: 0;
  }

  .about_me_media:hover::after {
    top: 0;
    left: 200%;
    transition: 0.6s ease 0.2s;
  }

  .about_me_media:hover img {
    transform: scale(1.05);
    transition-delay: .65s
  }

  .about_me_social {
    display: flex;
    font-size: 2em;
    grid-gap: 50px;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .6s ease 0s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 5;
  }

  .about_me_media:hover .about_me_social {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
    transition: .6s ease .2s;
  }

  .consultation_form:hover::before {
    left: 100%;
  }

}

/* breakpoints */

@media screen and (max-width:1200px) {
  .container,
  .header__container {
    max-width: 990px;
  }

}

@media screen and (max-width:1000px) {
  .container,
  .header__container {
    max-width: 769px;
  }
}

@media screen and (max-width:890px) {
  .header__container {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header__navigation {
    display: none;
  }
  .burger__btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (max-width:770px) {
  .container,
  .header__container {
    max-width: 491px;
  }
}
@media screen and (max-width:510px) {
  .container,
  .header__container {
    max-width: 320px;
  }
}
